body {
    position: absolute;
    overflow: visible;
    background-color: #141E30;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

@-webkit-keyframes roll {
    from { -webkit-transform: rotate(180deg) }
    to   { -webkit-transform: rotate(360deg) }
}

@-moz-keyframes roll {
    from { -moz-transform: rotate(180deg) }
    to   { -moz-transform: rotate(360deg) }
}

@keyframes roll {
    from { transform: rotate(180deg) }
    to   { transform: rotate(360deg) }
}

.popup-open {
    -moz-animation-name: roll;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-name: roll;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
}

.title {
    color: purple;
    text-align: center;
}

.title_span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 10vh;
    display: flex;
}

.gameboard {
    width: 100%;
    height: 97vh;
    border: .1vh;
    border-color: red;
    border-style: solid;
    color: blue;
}

.gameboard_smaller {
    width: 100%;
    height: 92vh;
    border: .1vh;
    border-color: red;
    border-style: solid;
    color: blue;
}

.partition {
    height: 6vh;
}

.gameboard_title_row {
    height: 10%;
    border: .1vh;
    border-color: red;
    border-style: solid;
    color: blue;
}

.gameboard_row {
    height: 12%;
    border: .1vh;
    border-color: red;
    border-style: solid;
    color: blue;
}

.gameboard_piece {
    width: 20%;
    border: .1vh;
    border-color: red;
    border-style: solid;
    font-size: 8vh;
    color: blue;
}

.gameboard_piece_sad {
    width: 20%;
    color: purple;
    font-size: 8vh;
}

.gameboard_piece_title {
    border: .5vh;
    border-color: red;
    border-style: solid;
    width: 20%;
    color: purple;
    font-size: 8vh;
}

.gameboard_piece_score {
    width: 20%;
    color: blue;
    font-size: 5vh;
}

.gameboard_piece_cat {
    width: 20%;
    border: .1vh;
    border-color: red;
    border-style: solid;
    color: red;
    font-size: 8vh;
}

.question_title_row {
    height: 20%;
    border: .1vh;
    border-color: red;
    border-style: solid;
    color: blue;
}

.question_question_row {
    height: 40%;
    border: .1vh;
    border-color: red;
    border-style: solid;
    color: blue;
}

.question_rendered_row {
    height: 20%;
    border: .1vh;
    border-color: red;
    border-style: solid;
    color: blue;
}

.question_done_row {
    height: 20%;
    border: .1vh;
    border-color: red;
    border-style: solid;
    color: blue;
}

.gameboard_piece_mini {
    width: 15%;
    color: purple;
    font-size: 5vh;
}

.gameboard_piece_large {
    width: 40%;
    color: purple;
    font-size: 8vh;
}

.overall_gameboard_div_off {
    transform: rotate(0deg);
}

.overall_gameboard_div_on {
    transform: rotate(-180deg);
}