body {
    background-color: black;
    position: absolute;
    overflow: hidden;
}

.title {
    color: purple;
    text-align: center;
}

.title_span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 10vh;
    display: flex;
}

.gameboard {
    width: 100%;
    height: 97vh;
    border: .1vh;
    border-color: red;
    border-style: solid;
    color: blue;
}

.gameboard_title_row {
    height: 10%;
    border: .1vh;
    border-color: red;
    border-style: solid;
    color: blue;
}

.gameboard_row {
    height: 12%;
    border: .1vh;
    border-color: red;
    border-style: solid;
    color: blue;
}

.gameboard_piece {
    width: 20%;
    border: .1vh;
    border-color: red;
    border-style: solid;
    font-size: 8vh;
    color: blue;
}

.gameboard_piece_sad {
    width: 20%;
    color: purple;
    font-size: 8vh;
}

.gameboard_piece_cat {
    width: 20%;
    border: .1vh;
    border-color: red;
    border-style: solid;
    color: red;
    font-size: 8vh;
}

.question_title_row {
    height: 20%;
    border: .1vh;
    border-color: red;
    border-style: solid;
    color: blue;
}

.question_question_row {
    height: 40%;
    border: .1vh;
    border-color: red;
    border-style: solid;
    color: blue;
}

.question_rendered_row {
    height: 20%;
    border: .1vh;
    border-color: red;
    border-style: solid;
    color: blue;
}

.question_done_row {
    height: 20%;
    border: .1vh;
    border-color: red;
    border-style: solid;
    color: blue;
}

.gameboard_piece_mini {
    width: 0%;
    color: purple;
    font-size: 8vh;
}

.gameboard_piece_large {
    width: 100%;
    color: purple;
    font-size: 8vh;
}